
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Devanagari:wght@100..900&family=Satisfy&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.analytics-text, .total-employee, .total-clicked {
  font-size: 40px;
  padding: 0;
  margin: 0;
  font-family: Inter;
  opacity: .8;
;
}

.anan {
  background: green
  ;
}